[Unit]
Description=Caddy

[Container]
ContainerName=caddy
Image=ghcr.io/caddybuilds/caddy-cloudflare:2.11.4
AutoUpdate=registry
UserNS=keep-id
EnvironmentFile=/home/mjdescy/prod/caddy/.env

Network=proxy.network

Volume=/home/mjdescy/prod/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=/home/mjdescy/prod/caddy/data:/data/caddy:Z

PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

[Service]
Restart=always


[Install]
WantedBy=default.target
