[Unit]
Description=Paperless-ngx
Wants=paperless-db.service paperless-broker.service
After=paperless-db.service paperless-broker.service

[Container]
ContainerName=paperless
Image=ghcr.io/paperless-ngx/paperless-ngx:3.1
AutoUpdate=registry
UserNS=keep-id
EnvironmentFile=/home/mjdescy/prod/paperless/.env
Environment=PAPERLESS_REDIS=redis://paperless-broker:6379
Environment=PAPERLESS_DBHOST=paperless-db
Environment=PAPERLESS_DBENGINE=postgresql

Network=proxy.network

Volume=/home/mjdescy/prod/paperless/data:/usr/src/paperless/data:Z
Volume=/home/mjdescy/prod/paperless/media:/usr/src/paperless/media:Z
Volume=/home/mjdescy/prod/paperless/export:/usr/src/paperless/export:Z
Volume=/home/mjdescy/prod/paperless/consume:/usr/src/paperless/consume:Z

# PublishPort=8000:8000

[Service]
Restart=always

[Install]
WantedBy=default.target
